@media only screen and (min-width: 701px) {

	#home-grid{
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: auto auto;
		grid-gap: 10px;
		text-align: right;
	}
	
	h1 {
		font-size: 2.5rem
	}
	
	#hamButton {
		display: none; /* hide hamburger button */
	} 
	
	.navigation {
		flex-direction: row;
	}
	
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	#spotlight-grid{
		padding: 5px;
		background-color: #0097b2;
		z-index: -1;
		display: grid;
		grid-template-row: 1fr 1fr 1fr;
		grid-gap: 5px;
		grid-column: 4/5;
		grid-row: 1/3;
	}
}