@media screen and (max-width: 700px) {

    #body-grid {
        display: block;
    }

    #spotlight-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #companyblock1 {
        grid-column: 1/2;
    }

    #companyblock2 {
        grid-column: 2/3;
    }

    #companyblock3 {
        display: none;
    }
}

