@media screen and (max-width: 500px){

html{
    margin: 0 auto;
}

#top-banner{
    width: auto;
    grid-template-columns: 200px 1fr;
}

#header-logo{
    margin: auto;
    max-width: 100%;
    height: auto;
}

#home-grid{
    display: block;
}

#spotlight-grid{
    display: block;
}

#company-block1, #company-block2, #company-block3{
    max-width: 300px;
}

/* discover page */

#disc-grid{
    display: block;
}

figure{
    margin: 5px;
}

#gallery:hover{
    filter: none;
}

#map{
    display: none;
}

input{
    height: 44px;
}

}

/* join page */

#join-form{
    width: 100%;
}

#join-form form{
    width: 95%;
    margin: 0 auto;
}

#business-cards{
    margin: auto;
}

#business-cards section img{
	margin: 0 auto;
	width: 75px;
	grid-column: 1/2;
}

/* contact page */

#contact-body{
    display: block;
}

#people{
    margin-left: 10%;
}

