@media screen and (max-width: 500px){

#top-banner{
    width: auto;
    grid-template-columns: 200px 1fr;
}

#header-logo{
    margin: auto;
    width: 100%;
    height: auto;
}

#home-grid{
    display: block;
}

#spotlight-grid{
    display: block;
}

#company-block1, #company-block2, #company-block3{
    max-width: 300px;
}


}