@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,400&display=swap');


body{
	font-family: 'Montserrat', sans-serif;
	width: 97%;
	max-width: 1200px;
	margin: auto;
}

main{
	max-width: 1200px;
}

#mon-tues-banner{
	background-color: #0097b2;
	height: auto;
	padding: 2px;
	color: white;
	z-index: 1;
	text-align: center;
	/* position: fixed; */
	top: 0;
	width: 100%;
}


#header-container{
	margin-top: 20px
}

#top-banner{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: auto;
	margin: auto;
}

#header-logo{
	grid-column: 1/2;
	margin-left: auto;
	margin-right: 30px;
    max-width: 150px;
    height: auto;

}

#site-title{
	grid-column: 2/3;
	text-align: left;
	margin: auto;
	background-color: #5ce1e6;
	padding: 10px;
}

#date-banner{
	background-color: #5ce1e6;
	text-align: center;
	padding: 5px;
}

#header-date{
	padding: 5px;
	margin-top: -5px;
	width: 500px;
}


.hero-image{
	grid-column: 2/4;
	grid-row: 1/2;
	max-width: 100%;
	height: auto;
	margin: auto;
}

#news{
	grid-column: 2/4;
	grid-row: 2/3;
	margin-top: auto;
	position: relative;
}

#left-column {
	grid-column: 1/2;
	grid-row: 1/3;
}

.big-title{
	position: absolute;
	bottom: 12%;
	right: 0px;
	padding-right: 15px;
	padding-top: 10px;
	width: 100%;
	height: 1.75em;
	background-color: #7ed957;
	text-align: right;
}

#news, #join, #weather, #events {
	position: relative;
}

#weather-info {
	max-width: 100%;
	height: 98%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	right: 0;
	background-color: #7ed957;
	padding-right: 15px;
	padding-left: 5px;
}

#weather-icon{
	width: 50px;
	height: 50px;
}

#weather-info figure{
	display: flex;
	justify-content: right;
	margin: 0px 10px 0px 10px;
	gap: 20px;
	height: 50px;
}

.attribution{
	font-size: .75em;
}





.big-img{
	width: 100%;
	height: auto;
}


.company-block1{
    grid-row: 1/2;
}

.company-block2{
    grid-row: 2/3;
}

.company-block3{
    grid-row: 3/4;
}

.company-block1, .company-block2, .company-block3{
	margin: auto;
	z-index: -1;
	width: 100%;
	height: auto;
}

#company-name{
    height: auto;
    font-family: sans-serif;
	z-index: 3;
	background-color: #7ed957;
}

.comp-img{
	width: 100%;
	height: auto;
	margin-top: -57px;
}

footer{
    text-align: center;
}


#footer-logo{
	margin-top: 30px;
	max-width: 100px;
	height: auto;
}

#info-box{
	background-color: #5ce1e6;
	width: 100%;
	padding: 5px;
}

/* responsive */
#hamButton {
	display: block;
	margin-top: 10px;
	width: 100%;
	font-size: 1rem;
	padding: .5rem;
	background-color: #7ed957;
	color: white;
	cursor: pointer;
}
nav ul{
    padding: 0;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.navigation li {
	display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
}
.navigation li a:hover {
	font-weight: 700;
	background-color: #7ed957;
	color: black;
}

.navigation li a:visited{
	color: black;
}

.navigation li a:link{
	color: black;
}

/* when the button is clicked - the responsive class is added and accounted for here */


.navigation.responsive li {
	display: block;
	width: 100%;
	background-color: #0097b2;
	margin-top: -5px;
}
.navigation.responsive li a {
	display: block;
	color: white;
}


/* discover page specific css */

#last-visit{
	text-align: center;
}

#disc-grid{
	display: grid;
	grid-template-columns: 45% 1fr;
	grid-template-rows: 1fr;
	grid-gap: 5px;
}

#disc-grid div{
	border: 1px solid #0097b2;
	padding: 5px;
}

#attribution{
	margin-top: -20px;
	text-align: right;
	position: relative;
	right: 20px;
	font-size: 1em;
}

#disc-main h3{
	margin-bottom: 0px;
}

#gallery{
	width: 100%;
}

#gallery:hover{
	filter: blur(2px);
}

#map{
	float: right;
	position: relative;
	top: 5px;
	right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;

}

figure{
	margin: 20px;
}

/* join page */

#join-form{
	background-color: #0097b2;
	color: white;
	margin: 0 auto;
	width: 50%;
}

#join-form h2{
	text-align: center;
	padding-top: 1.5rem;
}

form fieldset{
	margin: 2rem 0;
	border: 1px solid #5ce1e6;
	padding: 1rem;
}

form legend{
	margin: 0 1rem;
	padding: 0 .5rem;
}

input{
	height: 2em;
	position: relative;
	right: 0;
	color: white;
}

.level{
	height: 2em;
}

#join-form form{
	width: 50%;
	margin: 0 auto;
}


form label{
	display: block;
	padding-top: 1rem;
}

form label input, form label select{
	display: block;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(126, 217, 87, 0.1);
}

form label textarea{
	display: block;
	width: 100%;
	max-width: 30rem;
}

form label input:required{
	border-left: orange solid 6px;
	border-bottom: orange solid 3px;
}

form label input:required:valid{
	border-left: #7ed957 solid 6px;
	border-bottom: #7ed957 solid 3px;
}

::placeholder{
	color: rgba(0, 0, 0, 0.7);
}

form button{
	border: none;
	background-color: #7ed957;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}



#asterisk{
	display: inline-block;
	color: orange;
	font-size: 1.2em;
}

.bus-descrip{
	background-color: #5ce1e6;
}
.bus-descrip::placeholder{
	color: black;
}

/* thanks page */

#thanks{
	text-align: center;
	background-color: #0097b2;
	color: white;
	padding: 10px;
}

/* directory page */

#business-cards{
	display: grid;
	grid-template-columns: repeat(auto-fit,
    minmax(350px, 1fr));

}



#business-cards section h2{
	background-color: #0097b2;
	color: white;
	text-align: center;
	grid-column: 2/3;

}

#business-cards section{
	margin: 10px;
	border: 2px solid #0097b2;
	padding: 10px;
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: 100px 263px auto;
	align-items: stretch;
	/* justify-items: center; */
}

#business-cards section img{
	margin: 0 auto;
	width: auto;
	grid-column: 1/2;
}

#business-cards section p{
	grid-column: 1/3;
}

#membership{
	text-align: center;
	position: relative;
	bottom: 0px;
	height: 1.5em;
	padding-top: .25em;
}

#business-cards a{
	text-decoration: none;
	font-weight: bold;
	color: #0097b2;
}



#dir-buttons{
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: -5px;
}

#dir-nav{
	margin: 3px;
}

#business-cards table{
	width: fit-content;
}

#business-cards tr:nth-child(3n+1){
	background-color: #0097b2;
	color: white;
}

#business-cards tr:nth-child(3n+1) a{
	background-color: #0097b2;
	color: white;
}

#business-cards td{
	padding: 10px;

}

/* ------------- contact page ------------ */
#contact-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

#pic-contain {
	grid-column: 1/2;
	grid-row: 1/3;
}

#contact-hero {
	width: 100%;
	height: auto;
}

#contact-form{
	grid-column: 2/3;
}