@media screen and (min-width: 875px) {

    #info-box {
        height: 100px;
        width: 300px;
        position: fixed;
        bottom: -40px;
        left: 10%;
        background-color: #D1759A;
        border-radius: 60px;
        border: 10px solid #F7F2F4;
        text-align: center;
    }
    
    #footer-info {
        position: fixed;
        right: 0px;
        bottom: -10px;
    }
    
    #updated {
        text-align: right;
        width: auto;
        font-size: .75em;
    }

    /* --------------index-------------- */

    #home-grid {
        margin-top: 70px;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

    .weather-container {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 55px auto;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    
    #humidity {
        grid-column: 1/4;
        margin: 0;
    }

    /* -------------------order------------------- */

#order-body {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 0 auto;
}

#order-message {
    grid-column: 1/2;
}

form {
    margin: 0 auto;
    width: 500px;
    grid-column: 1/2;
}

fieldset {
    height: fit-content;
}

input, select, textarea {
    margin: 5px;
}

textarea {
    width: 75%;
    height: 100px;
}

form label, input {
    display: block;
}

form select, option {
    display: inline;
}

fieldset {
    height: auto;
}

#pad {
    height: 60px;
}


#rainbow-pic {
    margin-top: 100px;
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
}

#rainbow-pic img {
    max-width: 120px;
    height: auto;
    border-radius: 10px;
}

#rainbow-pic-left, #rainbow-pic-right {
    display: none;
}

/* -----------------about------------------------- */

#about-body{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 75px;
}

#map iframe {
    margin-top: 16px;
    max-width: 400px;
}

}