@media screen and (max-width: 20em) {

    body {
        margin: auto;
    }

    #headshot {
        width: auto;
    }

    #name {
        grid-column: 1/2;
        margin-left: 25px;
        margin-top: -15px;
    }

    #title {
        margin-left: 0px;
    }

    #assign-list {
        margin-left: 30px;
    }
}